html {
    overflow-x: hidden;
}

/* Body */
* {
    font-family: Arial, sans-serif;
    margin: 0px;
}  

/* header */
.page-header {
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    background: linear-gradient(to right, rgb(27,118,236), rgb(86,11,156));
    color: white;
    padding: 15px 0 15px 0;
}

hr {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.search-city {
    margin-left: 25px;
    margin-top: 20px;
}

.search-history {
    margin-left: 25px;
}

.search-btn {
    color: white;
    margin-top: 20px;

}

.history-btn {
    background-color: grey;
    color: black;
}

h3 {
    font-weight: bold;
}

.current-weather {
    border-style: solid;
    margin-top: 30px;
    margin-left: 30px;
    letter-spacing: 2px;
}

h4 {
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

#forecast {
    margin-top: 5px;
    margin-left: 20px;
}

.card {
    background-color: grey;
    color: white;
    font-weight: bold;
}


/*
.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
}

.dashboard-text {
    text-align: center;
}

.search-container {
    text-align: left;
    margin-top: 100px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
}

.search-history {
    margin-top: 20px;
}

.weather-display {
    margin-top: 20px;
}

.current-weather {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}

.forecast {
    background-color: #ffffff;
    padding: 20px;
} */