/* * {
    /* font-family: Arial, sans-serif;
    background-color: #f0f0f0; */
    /* margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */ 
/* 
.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
}

.dashboard-text {
    text-align: center;
}

.search-container {
    text-align: left;
    margin-top: 100px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
}

.search-history {
    margin-top: 20px;
}

.weather-display {
    margin-top: 20px;
}

.current-weather {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}

.forecast {
    background-color: #ffffff;
    padding: 20px;
} */